<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="shortcut icon" href="favicon.ico">

<link rel="stylesheet" href="resources/css/bootstrap.min.css" />
<script src="resources/js/bootstrap.min.js"></script>
<script type="text/html" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="myPage">Collaboration Center</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#">HOME</a></li>
        <li class="active"><a href="#/chat"> Chat</a></li>
        <!-- <li class="active"><a href="#/logout"> Logout</a></li> -->
        <li><a href="#/logout" ng-click="ctrl.logout()">Logout</a></li>
        <li><a href="#/reg">Register With Us</a></li>
        <li><a href="#/Forum">Forum </a></li>
         <li><a href="#/login">Login</a></li>
        <li><a href="#/Blog">Blog </a></li>
        <li><a href="#/Job">Post Job</a></li>
        <li><a href="#/JobList">Job List</a></li>
        <li><a href="#/JobApply">Job Apply</a></li>
        <li><a href="#/search_friend">Search Friend</a></li>
        <li><a href="#/view_friend">View Friend</a></li>
        
      </ul>
    </div>
  </div>
</nav>
</head>
<body ng-app="myApp">
	<div class="generic-container" ng-controller="JobController as ctrl">
		<br/><br/><br/><br/><br/>
		<h3>List of Applied</h3>
		<p>
		Search Job:<input type="text" size="40" ng-model="searchTerm" />
		</p><br/>
		<table class="table table-striped" style="width: 90%">
			<tr style="font-weight: bold;">
				<td style="width: 10%">ID#</td>
				<td style="width: 10%">Post Date</td>
				<td style="width: 10%">STATUS</td>
				<td style="width: 20%">Title</td>
				<td style="width: 40%">Company Name  </td>
			<tr ng-repeat="ja in ctrl.jobs | filter:searchTerm">
				<td style="width: 10%;">{{ja.id}}</td>
				<td style="width: 10%;">{{ja.postdate}}</td>
				<td style="width: 10%;">{{ja.status}}</td>
				<td style="width: 20%;">{{ja.title}}</td>
				<td style="width: 40%;">{{ja.companyname}}</td>
			</tr>
		</table>
	</div>
	<script src="app.js"></script>
	<script src="c_job/JobController.js"></script>
	<script src="c_job/JobService.js"></script>
</body>
</html>